<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dc0e764f9cafeb8b6ce32ae719767467&libraries=services"></script>

    <title>Title</title>
</head>
<body>

<!-- 기본 네비게이션 메뉴 -->
<!--<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary p-0 m-0" style="background-image: url('/navback.webp'); background-size: cover; background-position: center;">-->
<!--    <a href="/main/home">-->
<!--        <img src="/logo.webp" class="navbar-brand btn p-0 m-0" id="home" style="width: 100px; height: 100px; object-fit: scale-down;">-->
<!--    </a>-->
<!--    <div class="container-fluid d-flex align-items-center">-->

<!--        &lt;!&ndash; 네비게이션 메뉴 가운데 정렬 및 간격 넓힘 &ndash;&gt;-->
<!--        <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">-->
<!--            <div class="flex-grow-1 d-flex align-items-center col-8 offset-3 navoff">-->
<!--                <ul class="navbar-nav flex-row mb-2 mb-md-0">-->
<!--                    <li class="nav-item dropdown col-5 h3">-->
<!--                        <a class="nav-link btn poor-story-regular" id="blogTapToggle" href="#">-->
<!--                            조잘조잘-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="blogTapToggle">-->
<!--                            <li><button onclick="location.href='/blog/list'" class="dropdown-item poor-story-regular" id="blogDetailToggle">블로그</button></li>-->
<!--                            <li><button onclick="location.href='/blog/list'" class="dropdown-item poor-story-regular" id="blogVoteToggle">추천 블로그</button></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item dropdown col-5 offset-4 col-5 h3">-->
<!--                        <a class="nav-link btn poor-story-regular" id="placeTapToggle" href="#">-->
<!--                            플레이스-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="placeTapToggle">-->
<!--                            <li><button onclick="location.href='/place/list'" class="dropdown-item" id="placeDetailToggle">플레이스 블로그</button></li>-->
<!--                            <li><button onclick="location.href='/place/list'" class="dropdown-item" id="placeVoteToggle">추천 플레이스</button></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="nav-item dropdown col-6 offset-4 col-5 h3">-->
<!--                        <a class="nav-link btn poor-story-regular" id="eventTapToggle" href="#">-->
<!--                            공지 및 이벤트-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="eventTapToggle">-->
<!--                            <li><button onclick="location.href='/notice/list'" class="dropdown-item" id="eventDetailToggle">공지사항</button></li>-->
<!--                            <li><button onclick="location.href='/notice/list'" class="dropdown-item" id="eventVoteToggle">이벤트</button></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; 회원가입 및 로그인 버튼을 토글 버튼 왼쪽에 배치 &ndash;&gt;-->
<!--        <div class="d-flex ms-auto align-items-center justify-content-end flex-nowrap">-->
<!--            <button class="btn nav nav-link order-2">회원가입</button>-->
<!--            <button class="btn nav nav-link order-3">로그인</button>-->

<!--            &lt;!&ndash; 토글 버튼은 우측 끝에 고정 &ndash;&gt;-->
<!--            <button class="navbar-toggler order-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<div layout:fragment="content" class="container mt-4">

    <form class="regi" action="/blog/register" method="post" th:object="${blogDTO}" >
        <input type="hidden" name="readCount" value=0>
        <input type="hidden" name="recommendCount" value=0>
        <div class="row">
            <!-- 왼쪽 폼 (게시글 작성 영역) -->
            <div class="col-md-6 border p-3" style="min-height: 600px;">
                <!-- 제목 입력 -->
                <div class="mb-3">
                    <label for="title" class="form-label">제목</label>
                    <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="제목을 입력하세요">
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p>
                </div>
                <!-- 내용 입력 -->
                <div class="mb-3">
                    <label for="content" class="form-label">내용</label>
                    <textarea class="form-control" id="content" rows="16" th:field="*{content}" placeholder="내용을 입력하세요"></textarea>
                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError"></p>
                </div>

                <div class="d-flex justify-content-between">


                    <!-- 검색 폼 1 -->
                    <div class="input-group me-2" style="flex: 1; flex-direction: column;">
                        <div class="input-group mb-2">
                            <span class="input-group-text">#1</span>
                            <input type="text" id="keywordOneResult" placeholder="" class="form-control form-control-sm" readonly disabled>
                        </div>
                        <div class="d-flex">
                            <input type="text" id="keywordOne" placeholder="상호명 검색" class="form-control form-control-sm me-2">
                            <button class="btn btn-primary btn-sm" type="button" onclick="searchPlacesOne()" style="white-space: nowrap;">검색</button>
                        </div>
                    </div>

                    <!-- 검색 폼 2 -->
                    <div class="input-group me-2" style="flex: 1; flex-direction: column;">
                        <div class="input-group mb-2">
                            <span class="input-group-text">#2</span>
                            <input type="text" id="keywordTwoResult" placeholder="" class="form-control form-control-sm" readonly disabled>
                        </div>
                        <div class="d-flex">
                            <input type="text" id="keywordTwo" placeholder="" class="form-control form-control-sm me-2">
                            <button class="btn btn-primary btn-sm" type="button" onclick="searchPlacesTwo()" style="white-space: nowrap;">검색</button>
                        </div>
                    </div>

                    <!-- 검색 폼 3 -->
                    <div class="input-group" style="flex: 1; flex-direction: column;">
                        <div class="input-group mb-2">
                            <span class="input-group-text">#3</span>
                            <input type="text" id="keywordThreeResult" placeholder="" class="form-control form-control-sm" readonly disabled>
                        </div>
                        <div class="d-flex">
                            <input type="text" id="keywordThree" placeholder="" class="form-control form-control-sm me-2">
                            <button class="btn btn-primary btn-sm" type="button" onclick="searchPlacesThree()" style="white-space: nowrap;">검색</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 오른쪽 지도 -->
            <div class="col-md-6">

                <div class="row">
                    <div  class="d-flex" role="search" action="/board/list" method="get">
                        <select class="form-select form-select-lg mb-2 mx-2 w-100" aria-label="Large select example" onchange="selectMap(this.value)">
                            <option selected>지역을 선택하세요</option>
                            <option value="1">서울특별시</option>
                            <option value="2">부산광역시</option>
                            <option value="3">대구광역시</option>
                            <option value="4">인천광역시</option>
                            <option value="5">광주광역시</option>
                            <option value="6">대전광역시</option>
                            <option value="7">울산광역시</option>
                            <option value="8">세종특별자치시</option>
                            <option value="9">경기도 (수원)</option>
                            <option value="10">강원특별자치도</option>
                            <option value="11">충청북도 (청주)</option>
                            <option value="12">충청남도 (홍성)</option>
                            <option value="13">전북특별자치도 (전주)</option>
                            <option value="14">전라남도 (목포)</option>
                            <option value="15">경상북도 (안동)</option>
                            <option value="16">경상남도 (창원)</option>
                            <option value="17">제주특별자치도</option>
                        </select>
                    </div>
                </div>



                <div id="map" class="border" style="min-height: 600px;"></div>
            </div>
        </div>

        <!-- 버튼 (폼 안, div 밖) -->
        <div class="text-center mt-4">
            <button type="button"  class="btn btn-primary postButton">저장</button>
            <a href="/blog/list" class="btn btn-secondary">목록</a>
        </div>
    </form>

    <script>
        let gogonum = [];
        $(document).ready(function () {


            $(".postButton").on("click",function (e){

                e.preventDefault()

                console.log(gogonum)
                for(let i = 0 ; i< gogonum.length; i++){
                    let str = `<input name="nnum" value="${gogonum[i]}">`
                    $("form").append(str)
                }
                $(".regi").submit();



            })


        })
    </script>
</div>

<!-- Kakao 지도 초기화 -->
<script>
    // 모든 검색에서 선택되지 않은 마커들을 관리하는 배열
    var searchMarkers = [];

    // 각 검색창에서 선택된 마커들을 저장하는 변수
    var selectedMarkerOne = null;
    var selectedMarkerTwo = null;
    var selectedMarkerThree = null;


    //포스트












    // 첫 번째 장소 검색
    function searchPlacesOne() {
        var keyword = document.getElementById('keywordOne').value;
        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }
        ps.keywordSearch(keyword, function(data, status) {
            if (status === kakao.maps.services.Status.OK) {
                displayPlacesOne(data);
                selectedPlace = data[0]; // 첫 번째 결과 저장
            }
        });
    }

    // 두 번째 장소 검색
    function searchPlacesTwo() {
        var keyword = document.getElementById('keywordTwo').value;
        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }
        ps.keywordSearch(keyword, function(data, status) {
            if (status === kakao.maps.services.Status.OK) {
                displayPlacesTwo(data);
                selectedPlace = data[0]; // 첫 번째 결과 저장
            }
        });
    }

    // 세 번째 장소 검색
    function searchPlacesThree() {
        var keyword = document.getElementById('keywordThree').value;
        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }
        ps.keywordSearch(keyword, function(data, status) {
            if (status === kakao.maps.services.Status.OK) {
                displayPlacesThree(data);
                selectedPlace = data[0]; // 첫 번째 결과 저장
            }
        });
    }

    // 마커들을 삭제하는 함수
    function removeMarkers(markersArray) {
        for (var i = 0; i < markersArray.length; i++) {
            markersArray[i].setMap(null);
        }
    }

    // 마커를 지도에 표시하는 함수
    function displayMarkers(places, placeInfoCallback) {
        // 이전에 선택되지 않은 마커들을 제거합니다.
        removeMarkers(searchMarkers);
        searchMarkers = []; // 배열 초기화

        var bounds = new kakao.maps.LatLngBounds();
        for (var i = 0; i < places.length; i++) {
            var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                marker = new kakao.maps.Marker({position: placePosition});

            // 마커에 클릭 이벤트를 추가합니다.
            (function(marker, place) {
                kakao.maps.event.addListener(marker, 'click', function() {
                    selectedPlace = place;
                    placeInfoCallback(place); // 선택된 장소 정보 모달 표시
                });
            })(marker, places[i]);

            marker.setMap(map);
            bounds.extend(placePosition);

            // 마커를 장소 객체에 저장합니다.
            places[i].marker = marker;

            // 마커를 searchMarkers 배열에 저장합니다.
            searchMarkers.push(marker);
        }
        map.setBounds(bounds);
    }

    // 첫 번째 장소 마커 표시 및 모달 정보
    function displayPlacesOne(places) {
        displayMarkers(places, displayPlaceInfoOne);
    }

    // 두 번째 장소 마커 표시 및 모달 정보
    function displayPlacesTwo(places) {
        displayMarkers(places, displayPlaceInfoTwo);
    }

    // 세 번째 장소 마커 표시 및 모달 정보
    function displayPlacesThree(places) {
        displayMarkers(places, displayPlaceInfoThree);
    }

    // 첫 번째 장소 모달 정보 표시
    function displayPlaceInfoOne(place) {
        var content = `
        <h5 class="text-center mb-0">${place.place_name}</h5>
        <p class="text-sm fw-light text-center mt-0">${place.category_name}</p>
        <p><strong>주소:</strong> ${place.road_address_name || place.address_name}</p>
        <p><strong>전화번호:</strong> ${place.phone}</p>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="selectPlaceOne()">선택</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>`;

        document.getElementById('modalContentOne').innerHTML = content;
        var myModal = new bootstrap.Modal(document.getElementById('placeModalOne'));
        myModal.show();
    }

    // 두 번째 장소 모달 정보 표시
    function displayPlaceInfoTwo(place) {
        var content = `
        <h5 class="text-center mb-0">${place.place_name}</h5>
        <p class="text-sm fw-light text-center mt-0">${place.category_name}</p>
        <p><strong>주소:</strong> ${place.road_address_name || place.address_name}</p>
        <p><strong>전화번호:</strong> ${place.phone}</p>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="selectPlaceTwo()">선택</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>`;

        document.getElementById('modalContentTwo').innerHTML = content;
        var myModal = new bootstrap.Modal(document.getElementById('placeModalTwo'));
        myModal.show();
    }

    // 세 번째 장소 모달 정보 표시
    function displayPlaceInfoThree(place) {
        var content = `
        <h5 class="text-center mb-0">${place.place_name}</h5>
        <p class="text-sm fw-light text-center mt-0">${place.category_name}</p>
        <p><strong>주소:</strong> ${place.road_address_name || place.address_name}</p>
        <p><strong>전화번호:</strong> ${place.phone}</p>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="selectPlaceThree()">선택</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>`;

        document.getElementById('modalContentThree').innerHTML = content;
        var myModal = new bootstrap.Modal(document.getElementById('placeModalThree'));
        myModal.show();
    }

    // 첫 번째 장소 선택
    function selectPlaceOne() {
        // 이전에 선택된 마커가 있으면 제거합니다.
        if (selectedMarkerOne) {
            selectedMarkerOne.setMap(null);
        }

        selectedMarkerOne = selectedPlace.marker;

        // 선택된 마커를 searchMarkers 배열에서 제거하여 이후 삭제되지 않도록 합니다.
        var index = searchMarkers.indexOf(selectedMarkerOne);
        if (index > -1) {
            searchMarkers.splice(index, 1);

            //  여기서 DB에 저장
            selectToDB.place1 = {
                place_name: selectedPlace.place_name,
                category_name: selectedPlace.category_name,
                api_id: selectedPlace.id,
                address_name: cityNameCut(selectedPlace.address_name)
            };
            console.log('1번째 장소:', selectToDB.place1);
            ajaxx(selectToDB.place1)



        }

        document.getElementById('keywordOneResult').value = selectedPlace.place_name;
        var myModal = bootstrap.Modal.getInstance(document.getElementById('placeModalOne'));
        myModal.hide();
    }


    // 두 번째 장소 선택
    function selectPlaceTwo() {
        if (selectedMarkerTwo) {
            selectedMarkerTwo.setMap(null);
        }

        selectedMarkerTwo = selectedPlace.marker;

        var index = searchMarkers.indexOf(selectedMarkerTwo);
        if (index > -1) {
            searchMarkers.splice(index, 1);

            //  여기서 DB에 저장
            selectToDB.place2 = {
                place_name: selectedPlace.place_name,
                category_name: selectedPlace.category_name,
                api_id: selectedPlace.id,
                address_name: cityNameCut(selectedPlace.address_name)
            };
            console.log('2번째 장소:', selectToDB.place2);
            ajaxx(selectToDB.place2)
        }

        document.getElementById('keywordTwoResult').value = selectedPlace.place_name;
        var myModal = bootstrap.Modal.getInstance(document.getElementById('placeModalTwo'));
        myModal.hide();
    }

    // 세 번째 장소 선택
    function selectPlaceThree() {
        if (selectedMarkerThree) {
            selectedMarkerThree.setMap(null);
        }

        selectedMarkerThree = selectedPlace.marker;

        //  여기서 DB에 저장
        selectToDB.place3 = {
            place_name: selectedPlace.place_name,
            category_name: selectedPlace.category_name,
            api_id: selectedPlace.id,
            address_name: cityNameCut(selectedPlace.address_name)
        };

        var index = searchMarkers.indexOf(selectedMarkerThree);
        if (index > -1) {
            searchMarkers.splice(index, 1);
        }

        console.log('3번째 장소:', selectToDB.place3);
        ajaxx(selectToDB.place3)

        document.getElementById('keywordThreeResult').value = selectedPlace.place_name;
        var myModal = bootstrap.Modal.getInstance(document.getElementById('placeModalThree'));
        myModal.hide();
    }

    // 지도 생성 및 설정
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567),
            level: 3
        };
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var ps = new kakao.maps.services.Places();

    function selectMap(selectMap) {
        let moveLatLon;

        switch (selectMap) {
            case '1': moveLatLon = new kakao.maps.LatLng(37.5665, 126.9780); break;
            case '2': moveLatLon = new kakao.maps.LatLng(35.1796, 129.0756); break;
            case '3': moveLatLon = new kakao.maps.LatLng(35.8722, 128.6017); break;
            case '4': moveLatLon = new kakao.maps.LatLng(37.4563, 126.7052); break;
            case '5': moveLatLon = new kakao.maps.LatLng(35.1595, 126.8526); break;
            case '6': moveLatLon = new kakao.maps.LatLng(36.3504, 127.3845); break;
            case '7': moveLatLon = new kakao.maps.LatLng(35.5384, 129.3114); break;
            case '8': moveLatLon = new kakao.maps.LatLng(36.4800, 127.2890); break;
            case '9': moveLatLon = new kakao.maps.LatLng(37.8813, 127.7298); break;
            case '10': moveLatLon = new kakao.maps.LatLng(37.7519, 128.8761); break;
            case '11': moveLatLon = new kakao.maps.LatLng(36.6424, 127.4890); break;
            case '12': moveLatLon = new kakao.maps.LatLng(36.6013, 126.6608); break;
            case '13': moveLatLon = new kakao.maps.LatLng(35.8242, 127.1479); break;
            case '14': moveLatLon = new kakao.maps.LatLng(34.8118, 126.3922); break;
            case '15': moveLatLon = new kakao.maps.LatLng(36.5684, 128.7294); break;
            case '16': moveLatLon = new kakao.maps.LatLng(35.2276, 128.6811); break;
            case '17': moveLatLon = new kakao.maps.LatLng(33.4996, 126.5312); break;
            default: moveLatLon = new kakao.maps.LatLng(37.566826, 126.9786567); break;
        }
        map.setCenter(moveLatLon); // 좌표로 지도 중심 이동
    }


    var selectToDB = {
        place1: null,
        place2: null,
        place3: null
    };

    function submuitToDB() {
        // 선택된 장소 정보가 하나라도 있는지 확인
        if (selectToDB.place1 || selectToDB.place2 || selectToDB.place3) {
            console.log(selectToDB.place1)
            alert('장소 확인.');

            if(selectToDB.place1){
                alert('장소 확인1.');
                // ajaxx(selectToDB.place1)

            }
            if(selectToDB.place2){
                alert('장소 확인2.');
                // ajaxx(selectToDB.place2)

            }
            if(selectToDB.place3){
                alert('장소 확인3.');
                // ajaxx(selectToDB.place3)

            }

            // AJAX 요청을 통해 서버로 데이터 전송


        }

        return;
    }
    function ajaxx(aa) {
        $.ajax({
            url: '/blog/savePlaces', // 서버의 엔드포인트 URL
            type: 'POST',
            contentType: 'application/json; charset=utf-8',     //보내는 타입
            data: JSON.stringify(aa),
            // dataType : 'text',
            success: function(PlacesData) {
                console.log('장소 정보 저장 성공:', PlacesData);
                // 저장 성공 후 추가 동작이 필요하면 여기서 처리
                alert('장소 정보가 저장되었습니다.');

                gogonum.push(PlacesData)
            },
            error: function(error) {
                console.error('장소 정보 저장 실패:', error);
                alert('장소 정보 저장에 실패했습니다.');
            }
        });
    }

    const cityMapping = {
        "서울": "서울특별시", "부산": "부산광역시", "대구": "대구광역시", "인천": "인천광역시", "광주": "광주광역시", "대전": "대전광역시",
        "울산": "울산광역시", "세종": "세종특별자치시", "경기": "경기도", "강원": "강원특별자치도", "충북": "충청북도", "충남": "충청남도",
        "전북": "전라북도", "전남": "전라남도", "경북": "경상북도", "경남": "경상남도", "제주": "제주특별자치도"
    };

    function cityNameCut(fullAddress) {
        const shortName = fullAddress.substring(0, 2);

        return cityMapping[shortName] || fullAddress;
    }

</script>




<!-- 첫 번째 검색 모달 구조 -->
<div class="modal fade" id="placeModalOne" tabindex="-1" aria-labelledby="placeModalLabelOne" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="placeModalLabelOne">첫 번째 장소 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentOne"></div>
            </div>
        </div>
    </div>
</div>

<!-- 두 번째 검색 모달 구조 -->
<div class="modal fade" id="placeModalTwo" tabindex="-1" aria-labelledby="placeModalLabelTwo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="placeModalLabelTwo">두 번째 장소 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentTwo"></div>
            </div>
        </div>
    </div>
</div>

<!-- 세 번째 검색 모달 구조 -->
<div class="modal fade" id="placeModalThree" tabindex="-1" aria-labelledby="placeModalLabelThree" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="placeModalLabelThree">세 번째 장소 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContentThree"></div>
            </div>
        </div>
    </div>
</div>

<style>
    /* 호버 시 드롭다운 메뉴가 나타나게 설정 */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    /* 메뉴 항목에 마우스를 올렸을 때 글씨 색 변경 */
    .nav-link:hover {
        color: #d0e7ff !important;
    }

    /* 드롭다운이 열려 있는 동안에도 상위 메뉴 항목에 색 유지 */
    .nav-item.dropdown:hover .nav-link {
        color: #d0e7ff !important;
    }

    /* 1150px 이하에서 offset 제거 */
    @media (max-width: 1150px) {
        .offset-4 {
            margin-left: 0 !important;
        }
    }

    /* 768px 이하에서 토글 메뉴가 나올 때 모든 요소를 한 줄로 배치 */
    @media (max-width: 768px) {
        .container-fluid {
            display: flex !important;
            flex-wrap: nowrap !important; /* 줄바꿈 방지 */
            justify-content: space-between !important; /* 요소 간 간격 유지 */
        }

        /* 홈 버튼 줄바꿈 방지 */
        #home {
            margin-right: 10px !important;
            white-space: nowrap !important; /* 줄바꿈 방지 */
        }

        /* 네비게이션 메뉴 중앙 정렬 조정 */
        .navbar-nav {
            display: flex !important;
            flex-wrap: nowrap !important; /* 메뉴 줄바꿈 방지 */
            justify-content: center !important; /* 메뉴를 가운데 정렬 */
        }

        .navbar-nav .nav-item {
            margin-right: 5px !important;
            white-space: nowrap !important; /* 줄바꿈 방지 */
        }

        /* 로그인 및 회원가입 버튼 한 줄 유지 */
        .d-flex.ms-auto {
            display: flex !important;
            flex-wrap: nowrap !important; /* 줄바꿈 방지 */
            justify-content: flex-end !important; /* 오른쪽 정렬 */
            margin-left: auto !important; /* 오른쪽 끝에 딱 붙게 설정 */
        }

        /* 회원가입 및 로그인 버튼이 가로로 나열되도록 설정 */
        .d-flex.ms-auto button {
            display: inline-block !important; /* 세로 배치 방지 */
            margin-right: 5px;
        }

        /* flex-nowrap를 추가하여 버튼들이 가로로만 나열되도록 설정 */
        .flex-nowrap {
            flex-wrap: nowrap !important;
        }
    }
</style>

</body>
</html>