<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content" class="container-fluid mt-5">

    <div id="carouselExampleAutoplaying" class="carousel slide mt-5 d-flex justify-content-center" data-bs-ride="carousel">
        <div class="carousel-inner" style="width: 64.5vw; height: 30vh;">
            <div class="carousel-item active w-100 h-100">
                <img src="/banner/1.png" class="w-100 h-100" style="object-fit: fill">
            </div>
            <div class="carousel-item w-100 h-100">
                <img src="/banner/2.png" class="w-100 h-100" style="object-fit: fill;">
            </div>
            <div class="carousel-item w-100 h-100">
                <img src="/banner/3.png" class="w-100 h-100" style="object-fit: fill;">
            </div>
            <div class="carousel-item w-100 h-100">
                <img src="/banner/4.png" class="w-100 h-100" style="object-fit: fill;">
            </div>
            <div class="carousel-item w-100 h-100">
                <img src="/banner/5.png" class="w-100 h-100" style="object-fit: fill;">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row p-0 m-0 mt-5 mb-5 container-fluid justify-content-center">

        <!-- Top 5 블로그 카드 -->
        <div class="col-md-4 px-3">
            <div class="card border shadow-sm rounded shadow-sm border" style="min-height: 200px;">
                    <h5 class="card-title bg-light border-bottom" style="text-align: center;font-size: 1.1rem;">Top 5 블로그</h5>
                    <div class="row thead m-0 pb-1 border-bottom" style="font-size: 0.8rem;">
                        <div class="col-2 text-center">순위</div>
                        <div class="col-6 text-center">제목</div>
                        <div class="col-2 text-center">추천수</div>
                        <div class="col-2 text-center">조회수</div>
                    </div>
                    <div class="table mt-1">
                        <th:block th:each="blog, userStat : ${mainRankBlogDTO}">
                            <div class="row border-bottom p-0 m-0" style="display: flex; align-items: center; font-size: 0.8rem;">
                                <div class="col-2 text-center" th:text="${userStat.count}"></div>
                                <div class="col-6 text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    <a class="text-decoration-none ps-4" th:href="|@{/blog/detale(num=${blog.num})}|"
                                       th:text="${#strings.length(blog.title) > 15 ? #strings.substring(blog.title, 0, 15) + '...' : blog.title}"
                                       style="display: block; text-align: left;">
                                        [[${blog.title}]]
                                    </a>
                                </div>
                                <div class="col-2 text-center" th:text="${blog.recommendCount}"></div>
                                <div class="col-2 text-center" th:text="${blog.readCount}"></div>
                            </div>
                        </th:block>
                    </div>
            </div>
        </div>

        <!-- Top 5 플레이스 카드 -->
        <div class="col-md-4 px-3">
            <div class="card border shadow-sm rounded shadow-sm border" style="min-height: 200px;">
                <h5 class="card-title bg-light border-bottom" style="text-align: center; font-size: 1.1rem;">Top 5 플레이스</h5>
                <div class="row thead m-0 pb-1 border-bottom" style="font-size: 0.8rem;">
                    <div class="col-2 text-center">순위</div>
                    <div class="col-4 text-center">플레이스</div>
                    <div class="col-4 text-center">도시</div>
                    <div class="col-2 text-center">등록수</div>
                </div>
                <div class="table mt-1">
                    <th:block th:each="place, userStat : ${mainRankDTO}">
                        <div class="row border-bottom p-0 m-0" style="display: flex; align-items: center; font-size: 0.8rem;">
                            <div class="col-2 text-center" th:text="${userStat.count}"></div>
                            <div class="col-4 text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <span class="text-decoration-none ps-4"
                      style="cursor:pointer; display: block; text-align: left;"
                      th:data-place-name="${place.place_name}"
                      th:data-category-name="${place.category_name}"
                      th:data-cname="${place.cname}"
                      th:data-api-id="${place.api_id}"
                      onclick="openPlaceModal(this)">
                    [[${place.place_name}]]
                </span>
                            </div>
                            <div class="col-4 text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="${place.cname}"></div>
                            <div class="col-2 text-center" th:text="${place.total}"></div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <!-- Top 5 식당 카드 -->
        <div class="col-md-4 px-3">
            <div class="card border shadow-sm rounded shadow-sm border" style="min-height: 200px;">
                <h5 class="card-title bg-light border-bottom" style="text-align: center; font-size: 1.1rem;">Top 5 식당</h5>
                <div class="row thead m-0 pb-1 border-bottom" style="font-size: 0.8rem;">
                    <div class="col-2 text-center">순위</div>
                    <div class="col-4 text-center">플레이스</div>
                    <div class="col-4 text-center">도시</div>
                    <div class="col-2 text-center">등록수</div>
                </div>
                <div class="table mt-1">
                    <th:block th:each="restaurant, userStat : ${mainRankRestaurantDTO}">
                        <div class="row border-bottom p-0 m-0" style="display: flex; align-items: center; font-size: 0.8rem;">
                            <div class="col-2 text-center" th:text="${userStat.count}"></div>
                            <div class="col-4 text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <span class="text-decoration-none ps-4"
                              style="cursor:pointer; display: block; text-align: left;"
                              th:data-place-name="${restaurant.place_name}"
                              th:data-category-name="${restaurant.category_name}"
                              th:data-cname="${restaurant.cname}"
                              th:data-api-id="${restaurant.api_id}"
                              onclick="openPlaceModal(this)">
                            [[${restaurant.place_name}]]
                        </span>
                            </div>
                            <div class="col-4 text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="${restaurant.cname}"></div>
                            <div class="col-2 text-center" th:text="${restaurant.total}"></div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

    </div>

    <!-- 모달 구조 -->
    <div class="modal fade" id="placeModal" tabindex="-1" aria-labelledby="placeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="placeModalLabel">장소 정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalContent">
                        <!-- 여기에 내용이 동적으로 추가됩니다 -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script defer>
        function openPlaceModal(element) {
            const placeName = element.getAttribute('data-place-name');
            const categoryName = element.getAttribute('data-category-name');
            const cname = element.getAttribute('data-cname');
            const apiId = element.getAttribute('data-api-id');

            document.getElementById('modalContent').innerHTML = `
            <h5 class="modal-title">${placeName}</h5>
            <p>카테고리: ${categoryName}</p>
            <p>도시: ${cname}</p>
            <a href="https://map.kakao.com/?itemId=${apiId}" target="_blank" class="btn btn-primary">자세히 보기</a>
        `;

            let myModal = new bootstrap.Modal(document.getElementById('placeModal'));
            myModal.show();
        }
    </script>



</div>

</body>
</html>
