<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <form action="/account/register" th:object="${accountDTO}" method="post">
                    <h5 class="text-center">회원 가입</h5>

                    <div class="mb-3">
                        <label for="email" class="form-label">아이디/이메일</label>
                        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="name@example.com" required>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">비밀번호</label>
                        <input type="password" th:field="*{password}" class="form-control" id="password" required>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>
                    </div>

                    <div class="mb-3">
                        <label for="password1" class="form-label">비밀번호 재확인</label>
                        <input type="password" th:field="*{password1}" class="form-control" id="password1" required>
                        <p th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}" class="fieldError"></p>
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">이름</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name">
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">연락처</label>
                        <input type="text" th:field="*{phone}" class="form-control" id="phone">
                        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError"></p>
                    </div>

                    <input type="hidden" name="role" value="USER">

                    <div class="text-center mt-4">
                        <button class="btn btn-primary">가입</button>
                        <a type="button" href="/account/login" class="btn btn-secondary">로그인</a>
                    </div>
                </form>

                <script th:inline="javascript">
                    let msg = [[${msg}]]
                    if (msg != null) {
                        alert(msg)
                    }
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
